head
  title US Electoral College Map
  link rel="shortcut icon" href="favicon.ico"
  link type='text/css' rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
  link type='text/css' rel='stylesheet' href='style.css'
  meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

html

  body
    .container-fluid
      .row
        .col-sm-10.col-sm-push-2
          table width='100%'
            tr
              th
                h1#demsTotal
              th
                h1#neutralTotal
              th
                h1#GOPTotal

          div id="container"

          h3.text-center#pageTitle US Electoral College Map

        .col-sm-2.col-sm-pull-10
          #statesList style="display: flex; flex-wrap: wrap;"
            span Loading..

          hr
          p
            a href='https://goo.gl/forms/THky9dqIPI9AezJb2' target="_BLANK"
              small
                i.glyphicon.glyphicon-send
              span &nbsp;&nbsp;Feedback

          p
            small
              copyright
                span &copy; Copyright 2017-2019
                br
                span Benjamin Bergstein

    script type='text/javascript' src='index.js'
