#demsTotal, #goptotal, #neutralTotal {
  text-shadow: 1px 1px 1px #999;
  text-align: center;
}

#demsTotal {
 color: #ABDFFF;
}

#neutralTotal {
 color: #DADAD0;
}

#GOPTotal {
 color: #FF0000;
}

#pageTitle {
  margin-bottom: 1em;
}

#statesList.btn-group > .btn.btn-link {
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#container {
  position: relative;
  width: 100%;
  margin: 3.5em 0;
}

@media (min-width:600px) {
  #container {
    min-height: 72vh;
  }
}

.State {
  display: flex;
  flex: 0 0 20%;
  justify-content: center;
  color: white;
  cursor: pointer;
  line-height: 2.5;
}
