body, html {
  margin: 0;
  height: 100%;
  min-height: 800px;
}

#demsTotal, #goptotal, #neutralTotal {
  text-shadow: 1px 1px 1px #999;
  text-align: center;
}

#demsTotal {
 color: #ABDFFF;
}

#neutralTotal {
 color: #DADAD0;
}

#GOPTotal {
 color: #FF0000;
}

#container {
  width: 100%;
  height: 100%;
}

.State {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  color: white;
  cursor: pointer;
  line-height: 2.5;
}
