th {
  text-align: center;
}

#demsTotal, #goptotal, #neutralTotal {
  text-shadow: 1px 1px 1px #999;
  text-align: center;
}

#statesList.btn-group > .btn.btn-link {
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#container {
  position: relative;
  width: 100%;
  margin: 3.5em 0;
}

@media (min-width:600px) {
  #container {
    min-height: 72vh;
  }
}